.outerBlock {
  width: 140px;
  height: 140px;
  padding: 30px;
  margin: 20px 20px;
  border: 1px solid black;
  display: inline-block;
  position: relative;
  text-align: left;
}

.innerBlock {
  margin: 0px;
  position: absolute;
  top: 50%;
}

.innerBlock input[type="text"] {
  width: 75px;
}
